body {

    font-family: "Poppins";
    background-image: url(https://images.unsplash.com/photo-1487700160041-babef9c3cb55?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button {
    margin-top: 1rem;
}
#log-form {
    margin-top:20rem;
}

#img-log {
    border-radius: 10px;
}

#log {
    border-radius: 20px;
}


.checked {
    text-decoration: line-through;
    color: gray;
}
